.col-sm-1{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.black {
	z-index: 2000;
	background-color: lightgrey;
	min-height: 80px;
	text-align: center;
	font-size: 4em;

}
.white {
	background-color: white;
	min-height: 80px;
	text-align: center;
	font-size: 4em;
}
.border-lud{
	border-left: solid;
	border-top: solid;
	border-bottom: solid;
}
.border-rud{
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
}
.border-ud{
	border-top: solid;
	border-bottom: solid;
}
body{
	background-color: grey;
}
span{
	position: absolute;
	margin-top: -26px;
	font-size: 1.2em;
	color: #4C4646;
}
sub {
	color: grey
}
.my-container {
    width: 1000px;
	margin-left: 100px;
  }
#possibleMoves{
	font-size: 1.2em;
}
.my-indent{
	text-indent: 20px;
}
.red-man{
	background-color: #800517;
	border: 0.3em ridge #990012;
	padding-bottom: 0.2em;
	border-radius: 50%;
	max-width: 0.8em;
	margin-left: 0.26em;
	box-shadow: -1px -1px 20px #8C001A;
}
.red-king{
	background-color: #800517;
	border: 0.3em ridge #990012;
	border-radius: 50%;
	border-top: 0.3em dashed #806517;
	max-width: 1em;
	min-height: 1em;
	margin-left: 0.16em;
	box-shadow: -1px -1px 20px #8C001A;
}
.white-man{
	background-color: #B6B6B4;
	border: 0.3em ridge #BCC6CC;
	padding-bottom: 0.2em;
	border-radius: 50%;
	max-width: 0.8em;
	margin-left: 0.26em;
	box-shadow: -1px -1px 20px #6D7B8D;
}
.white-king{
	background-color: #B6B6B4;
	border: 0.3em ridge #BCC6CC;
	border-radius: 50%;
	border-top: 0.3em dashed #806517;
	max-width: 1em;
	min-height: 1em;
	margin-left: 0.16em;
	box-shadow: -1px -1px 20px #6D7B8D;
}
.top-indent{
	height: 0.18em;
}
.top-king-indent{
	height: 0.1em;
}
.royal{
	margin-top: -0.2em;
	margin-left: -0.45em;
	font-family: "French Script MT", Times, serif;
	font-size: 0.35em;
	font-weight: bold;
	color: #806517;
}
.rotate-button{
	margin-top: 20px;
	margin-left: 600px;
	cursor: pointer;
	
	
}




















